header.header
    .container
        nav.header__nav
            ul.header__menu
                li
                    a(href="about.html" target="_blank")
                        |1
                li
                    a(href="")
                        |2
                li
                    a(href="")
                        |3
            .header__logo
                +icon('phone')
            .header__info
                h1
                    |hi1
                
            