include ../helpers/mixins
block variables

doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		title #{title}
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		meta(name="keywords" content="")
		link(rel="stylesheet" type='text/css' href="static/css/grid.css")
		link(rel="stylesheet" type='text/css' href="static/css/styles.css")

		block head
	
	body
		
		include ../modules/header/header

		block content

		include ../modules/footer/footer
			

		script(src="static/js/main.js")
		block script



