extends layout/main
block variables
    -var title = 'О нас'
block head
    link(rel="stylesheet" type='text/css' href="static/css/about.css")
block content
    section.about
        .container
            .about__wrap
                ul
                    li
                        |Главная
                    li
                        |О нас
            .about__content
                p
                    |Content


block script
    script(src="static/js/about.js")