extends layout/main

block variables
	-var title = 'Главная страница'

block head
	link(rel="stylesheet" type='text/css' href="static/css/home.css")

block content
	section.about
		.container
			ul
				li
					|123
				li
					|123
				li
					|123123

			.header__wrap
				p
					|text

			.header__info
				h1
					|text2

			img(src="./static/images/content/Port-1.jpg", alt="")