.header
    background-color: #e47f7f;
    &__menu
        display: flex;
        justify-content: space-between;
        width: 50%;
        margin: auto;
        font-size: 20px;    

        li
            a
                color: $blue;
                font-family: 'Montserrat-Regular'



    
    &__info
        width: 100px;
        height: 105px;
        background-color: #ccc;
        display: block;
    

    &__logo
        background-color: #111111;
        margin: 0;
        display: flex;
        margin: 0;
        background-color: #ccc;
        display: flex;
        background-color: #fff

        margin: 0
        background-color: #1c1c1c
        background-color: #f1f1f1

        

