.about
    background-color: #ccc
    p
        font-family: 'Montserrat-Bold'

    ul
        display: flex
        justify-content: space-between
        display: grid
        grid-template-columns: repeat(3, 1fr)
        -moz-column-gap: 15px
        -webkit-column-gap: 15px
        gap: 15px
        font-family: Montserrat-Medium, sans-serif
        background-color: #fff
        margin: 0

    h1
        font-family: 'Montserrat-Regular'